@font-face {
    font-family: 'Maxwell-Bold';
    src: url('MAXWELL BOLD.ttf') format('truetype');

}
@font-face {
    font-family: 'Maxwell-Light';
    src: url('MAXWELL LIGHT.ttf') format('truetype');

}

@font-face {
    font-family: 'Maxwell-Regular';
    src: url('MAXWELL REGULAR.ttf') format('truetype');

}