@font-face {
    font-family: 'Tisa Sans Pro Regular';
    src: url('Tisa Sans Pro Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Tisa Sans Pro Bold';
    src: url('Tisa Sans Pro Bold.ttf') format('truetype');

}